* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8f9fa;
}

nav {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 130px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.hamburguer {
    display: none;
    font-size: 35px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.link a {
    color: white;
    margin-bottom: 10px;
    font-size: 40px;
    text-decoration: none;
}

.sub {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.sub li {
    list-style: none;
}

.sub li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.sub li a:hover {
    color: greenyellow;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

.nos {
    background-color: black;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: relative;
    margin-top: auto;
}

/* ESQUERDA */
.lado-esquerdo {
    display: flex;
    align-items: center;
    gap: 180px;
    margin-left: 10%;
}

.lado-esquerdo h1,
.lado-esquerdo h5 {
    color: #fff;
    margin: 0;
}

.lado-esquerdo h1 {
    font-size: 40px;
}

/* DIREITA */
.lado-direito {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    margin-right: 10%;
}

.lado-direito h4 {
    color: #fff;
    margin: 0;
    text-align: right;
}

/* LINKS */
.su {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.su a:hover {
    text-decoration: underline;
}

.su a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.su i {
    font-size: 16px;
}

@media (max-width: 768px) {
    nav {
        height: auto;
        padding: 10px;
        position: relative;
    }

    .link {
        text-align: center;
        margin: 15px 0;
    }

    .link a {
        font-size: 29px;
        margin-left: 2%;
    }

    .hamburguer {
        display: block;
        position: absolute;
        top: 10px;
        left: 15px;
    }

    .sub {
        display: none;
        flex-direction: column;
        background-color: black;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .sub.ativo {
        display: flex;
    }

    .sub li {
        text-align: center;
    }

    .nos {
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 10px;
        gap: 15px;
        position: relative;
        margin-top: auto;
    }

    .lado-esquerdo {
        flex-direction: column;
        align-items: center;
        gap: 5px;
        margin-left: 0;
        text-align: center;
    }

    .lado-esquerdo h1 {
        font-size: 28px;
    }

    .lado-esquerdo h5 {
        font-size: 14px;
    }

    .lado-direito {
        align-items: center;
        margin-right: 0;
        text-align: center;
    }

    .lado-direito h4 {
        font-size: 14px;
    }

    .botao {
        padding: 10px;
        margin-right: 20%;
    }

    header h1 {
        margin-top: 20px;
    }
}